body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #555;
    font-size: 14px;
    font-family: "Arial", "Microsoft YaHei", sans-serif;
    width: 100%;
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}

td,
th,
caption {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

i {
    font-style: normal;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px "Arial", "Microsoft YaHei", sans-serif;
}

table {
    border-collapse: collapse;
}

html {
    overflow-y: scroll;
}

.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
.cl

.clearfix {
    *zoom: 1;
}

.fl {
    float: left
}

.fr {
    float: right
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back {
    width: 44px;
    height: 44px;
    margin-top: 20px;
}

.gray {
    width: 100%;
    height: 25px;
    background: #F5F5F5;
}
.ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

.vue-slider-dot{
    width: 18px!important;
    height: 18px!important;
}

/* 文件上传 */
.file_ipt{
    position: fixed;
    bottom: 0;
    width: 0;
    height: 0;
  }
  .mint-swipe-indicator{
      border: 2px solid #999999;
      margin-right: 5px!important;
      background: #fff!important;
  }
  .mint-swipe-indicator.is-active{
    background: #000!important;
}

  /* 按钮样式重置 */
  .mint-switch-input:checked+.mint-switch-core{
    border-color: #4DD865!important;
    background-color: #4DD865!important; 
  }
  
  .mint-switch{
    height: 30px!important;  
  }


  .toasted-primary{
    border-radius: 10px!important;
    opacity: 0.8!important;
    text-align: center!important;
    margin-left: 10px;
  }